* {
    padding: 0;
    margin: 0;
    border: 0;
}
  
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, p, a {
    color: #AE7C78;
}

.main {
    margin: 80px 120px;
}

.italic {
    font-style: italic;
}

.main h1 {
    font-family: 'Playfair Display', 'Georgia', serif;
    font-size: 44px;
    font-weight: 400;
}

.main h2 {
    font-family: 'Playfair Display', 'Georgia', serif;
    font-size: 36px;
    font-weight: 700;
}

.main h3 {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.main h4 {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.main__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 120px;
    border-top: 1px solid #AE7C78;
    border-bottom: 1px solid #AE7C78;
    margin-top: 26px;
}

.main p,
.main__menu a,
.footer a {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.main__section {
    display: flex;
}

.main__description h1 {
    margin: 0 0 24px 0;
    line-height: 1.35;
}

.main__description p,
.news p {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.main__description p {
    margin: 0 0 64px 0;
    line-height: 1.25;
}

.main__button {
    display: block;
    color: #fff;
    background-color: #D89999;
    text-decoration: none;
    padding: 30px 0;
    text-align: center;
    width: 285px;
    border-radius: 40px;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.main__image1 {
    margin: 60px 20px 44px 20px;
}

.benefits {
    margin: 0 0 80px 0;
}

.benefits ul {
    display: flex;
    justify-content: space-around;
}

.benefits li {
    width: 700px;
}

.benefits h4 {
    margin: 0 0 10px 0;
}

.benefits p {
    line-height: 1.25;
}

.benefits li:nth-child(1):before {
    display: block;
    content: '';
    background: url('../img/delivery.svg') no-repeat;
    float: left;
    margin: 0 20px 20px 0;
    height: 52px;
    width: 82px;
}

.benefits li:nth-child(2) {
    padding: 0 0 0 50px;
}

.benefits li:nth-child(2):before {
    display: block;
    content: '';
    background: url('../img/fresh_flowers.svg') no-repeat;
    float: left;
    margin: 0 20px 50px 0;
    height: 52px;
    width: 52px;
}

.benefits li:nth-child(3) {
    padding: 0 0 0 40px;
}

.benefits li:nth-child(3):before {
    display: block;
    content: '';
    background: url('../img/photo_of_flowers.svg') no-repeat;
    float: left;
    margin: 0 20px 20px 0;
    height: 52px;
    width: 59px;
}

.popular h2 {
    text-align: center;
    margin: 20px 0 70px 0;
}

.popular__slider {
    display: flex;
    justify-content: start;
}

.popular__left-side {
    text-align: left;
    width: 450px;
    margin: 0 100px 0 200px;
}

.popular__left-side p {
    margin: 20px 0 25px 0;
    line-height: 1.35;
}

.popular__left-side > .main__button {
    margin: 60px 0 25px 0;
}

.popular__right-side {
    width: 450px;
    margin: -30px 0px 15px -140px;
}

.arrows {
    display: flex;
    justify-content: center;
    margin: 0 0 70px 15px;
}

.arrow_left:before {
    display: inline-block;
    align-items: center;
    content: '';
    background: url('../img/arrow_left.svg') no-repeat;
    margin: 0 20px 0 0;
    height: 16px;
    width: 51px;
}

.arrow_right:before {
    display: inline-block;
    content: '';
    background: url('../img/arrow_right.svg') no-repeat;
    margin: 0 20px 0 0;
    height: 16px;
    width: 51px;
}

.catalog {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 0 100px 0;
}

.catalog a {
    text-decoration: none;
}

.wedding_bouquet {
    background: linear-gradient(rgba(174, 124, 120, 0.6), rgba(174, 124, 120, 0.6)), url(../img/wedding_bouquet.jpg);
}

.peonies {
    background: linear-gradient(rgba(174, 124, 120, 0.6), rgba(174, 124, 120, 0.6)), url(../img/peonies.jpg);
}

.choose_bouquet {
    background: linear-gradient(rgba(174, 124, 120, 0.6), rgba(174, 124, 120, 0.6)), url(../img/choose_bouquet.jpg);
}

.catalog__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.6;
    border-radius: 10px;
    min-height: 440px;
    width: 387px;
    padding: 20px;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.sale {
    display: flex;
}

.sale__description {
    padding: 30px 100px;
}

.catalog h2,
.catalog p,
.sale h1,
.sale p,
.footer a {
    color: #FFF;
}

.sale,
.footer {
    background: #AE7C78;
}